jsonschema==4.25.1
openapi-spec-validator==0.7.2
reportlab==4.4.3
rdflib==7.6.0
pyshacl==0.40.0
mlcroissant==1.1.0
frictionless==5.19.0
lxml==6.0.2
csvw==4.1.0
bagit==1.9.0
ocfl-py==2.1.0
Pillow==12.3.0
segno==1.6.6
