{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Verified iOS App Catalog API",
    "summary": "Match user needs to verified live iOS apps in 50 locales.",
    "description": "Read-only static catalogs with localized summaries, localized search terms, verified storefront facts when available, factual capabilities and directly attributable App Store links. Records are alphabetical and are not rankings.",
    "version": "1.2.0",
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://open.cait518.cc/ios-app-guide/api/v1/ios-app-catalog",
      "description": "GitHub Pages static API"
    }
  ],
  "externalDocs": {
    "description": "Human-readable catalog and filtering tool",
    "url": "https://open.cait518.cc/ios-app-guide/tools/private-pay-once-iphone-app-finder.html"
  },
  "tags": [
    {
      "name": "Verified iOS apps",
      "description": "Live App Store records with public Apple price and rating facts only when the exact storefront returned them."
    }
  ],
  "paths": {
    "/index.json": {
      "get": {
        "tags": [
          "Verified iOS apps"
        ],
        "summary": "List all available locale catalogs",
        "operationId": "listVerifiedIosAppCatalogLocales",
        "security": [],
        "responses": {
          "200": {
            "description": "API index and locale endpoints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./index.schema.json"
                }
              }
            }
          }
        }
      }
    },
    "/locales/{locale}.json": {
      "get": {
        "tags": [
          "Verified iOS apps"
        ],
        "summary": "Get the verified app catalog for one locale",
        "operationId": "getLocalizedVerifiedIosAppCatalog",
        "security": [],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "description": "Apple App Store locale identifier.",
            "schema": {
              "type": "string",
              "enum": [
                "ar-SA",
                "bn-BD",
                "ca",
                "cs",
                "da",
                "de-DE",
                "el",
                "en-AU",
                "en-CA",
                "en-GB",
                "en-US",
                "es-ES",
                "es-MX",
                "fi",
                "fr-CA",
                "fr-FR",
                "gu-IN",
                "he",
                "hi",
                "hr",
                "hu",
                "id",
                "it",
                "ja",
                "kn-IN",
                "ko",
                "ml-IN",
                "mr-IN",
                "ms",
                "nl-NL",
                "no",
                "or-IN",
                "pa-IN",
                "pl",
                "pt-BR",
                "pt-PT",
                "ro",
                "ru",
                "sk",
                "sl-SI",
                "sv",
                "ta-IN",
                "te-IN",
                "th",
                "tr",
                "uk",
                "ur-PK",
                "vi",
                "zh-Hans",
                "zh-Hant"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alphabetical localized catalog with direct App Store links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./catalog.schema.json"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/{locale}.json": {
      "get": {
        "tags": [
          "Verified iOS apps"
        ],
        "summary": "Get the localized catalog as a JSON Feed 1.1 document",
        "operationId": "getLocalizedVerifiedIosAppJsonFeed",
        "security": [],
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "description": "Apple App Store locale identifier.",
            "schema": {
              "type": "string",
              "enum": [
                "ar-SA",
                "bn-BD",
                "ca",
                "cs",
                "da",
                "de-DE",
                "el",
                "en-AU",
                "en-CA",
                "en-GB",
                "en-US",
                "es-ES",
                "es-MX",
                "fi",
                "fr-CA",
                "fr-FR",
                "gu-IN",
                "he",
                "hi",
                "hr",
                "hu",
                "id",
                "it",
                "ja",
                "kn-IN",
                "ko",
                "ml-IN",
                "mr-IN",
                "ms",
                "nl-NL",
                "no",
                "or-IN",
                "pa-IN",
                "pl",
                "pt-BR",
                "pt-PT",
                "ro",
                "ru",
                "sk",
                "sl-SI",
                "sv",
                "ta-IN",
                "te-IN",
                "th",
                "tr",
                "uk",
                "ur-PK",
                "vi",
                "zh-Hans",
                "zh-Hant"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Localized JSON Feed with direct App Store links.",
            "content": {
              "application/feed+json": {
                "schema": {
                  "$ref": "./feed.schema.json"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "./feed.schema.json"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IndexResponse": {
        "$ref": "./index.schema.json"
      },
      "CatalogResponse": {
        "$ref": "./catalog.schema.json"
      },
      "FeedResponse": {
        "$ref": "./feed.schema.json"
      }
    }
  },
  "security": [],
  "x-static-read-only": true,
  "x-personal-data-requested": false,
  "x-result-order": "alphabetical_by_app_name_not_a_ranking"
}
